<a class="btn btn-xs btn-warning" href="{{ path('rubius_users_edit', {'id':row['id']}) }}">
    <i class="fa fa-paint-brush"></i> {{ 'rubiusAdmin.users.index.editAction' | trans({}, 'rubiusAdmin') }}
</a>
<a class="btn btn-xs btn-danger btn-delete" href="{{ path('rubius_users_delete', {'id':row['id']}) }}">
    <i class="fa fa-remove"></i> {{ 'rubiusAdmin.users.index.deleteAction' | trans({}, 'rubiusAdmin') }}
</a>
