{% trans_default_domain 'rubiusAdmin' %}
{% extends 'RubiusAdminBundle:layout:main.html.twig' %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Main Panel</li>
    </ol>
{% endblock %}

{% block pageTitle %}
    RubiusCms - <small>Symfony CMS Starter KIT</small>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'rubiusAdmin.default.index.toBedone'  |trans }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            [ENGLISH CONTENT ONLY] <br/>
                            For now Admin Lte has been applied. User Registration is OK and delete too.<br/>
                            Moving forward with CMS features.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}