{% trans_default_domain 'rubiusAdmin' %}
{% extends 'RubiusAdminBundle:layout:main.html.twig' %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{ 'rubiusAdmin.cms.contentType.title' | trans }}</li>
    </ol>
{% endblock %}

{% block pageTitle %}
    {{ 'rubiusAdmin.cms.contentType.title' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {% if contentType is not defined %}
                            {{ 'rubiusAdmin.cms.contentType.createTitle' | trans }}
                        {% else %}
                            {{ 'rubiusAdmin.general.Edit' |trans }} {{ contentType.title }}
                        {% endif %}
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                        {{ form_start(form) }}
                    <div class="row margin-bottom">
                        <div class="col-lg-6">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-lg-12">
                            {{ form_row(form.url) }}
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-lg-4">
                            {{ form_row(form.smallImageObject) }}
                        </div>
                        <div class="col-lg-2">
                            {% if contentType is defined and contentType.smallImageUrl is defined and contentType.smallImage is not null %}
                                <img src="{{ asset(contentType.smallImageUrl) }}" width="100px"/>
                            {% endif %}
                        </div>
                        <div class="col-lg-4">
                            {{ form_row(form.mediumImageObject) }}
                        </div>
                        <div class="col-lg-2">
                            {% if contentType is defined and contentType.mediumImageUrl is defined and contentType.mediumImage is not null %}
                                <img src="{{ asset(contentType.mediumImageUrl) }}" width="100px"/>
                            {% endif %}
                        </div>
                        <div class="col-lg-4">
                            {{ form_row(form.bigImageObject) }}
                        </div>
                        <div class="col-lg-2">
                            {% if contentType is defined and contentType.bigImageUrl is defined and contentType.bigImage is not null %}
                                <img src="{{ asset(contentType.bigImageUrl) }}" width="100px"/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="submit" class="btn btn-success" value="{{ 'rubiusAdmin.general.submit' | trans }}"/>
                        </div>
                    </div>
                    {{ form_end(form)}}
                </div>
            </div>
        </div>

    </div>
{% endblock %}