{% trans_default_domain 'rubiusAdmin' %}
{% extends 'RubiusAdminBundle:layout:main.html.twig' %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{ 'rubiusAdmin.cms.contentType.title' | trans }}</li>
    </ol>
{% endblock %}

{% block pageTitle %}
    {{ 'rubiusAdmin.cms.contentType.title' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'rubiusAdmin.cms.contentType.index.titleOptions' | trans }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row no-margin">
                        <div class="col-lg-1">
                            <a class="btn btn-success" href="{{ path('rubius_content_type_create') }}">
                                <i class="fa fa-plus"></i> {{ 'rubiusAdmin.general.new' | trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="data-table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#data-table').DataTable( {{ table | raw }} );
            $(".btn-delete").click(function(e){
                if (!confirm("Are you sure?")) {
                    e.preventDefault();
                }
            });
            $("#rubius-left-cms").addClass("active");
            $("#rubius-left-cms-content-type").addClass("active");
        });


    </script>

{% endblock %}