{% trans_default_domain "layout" %}
{% set messageCount = 0 %}
{% set notificationCount = 0 %}
<header class="main-header">

    <!-- Logo -->
    <a href="{{ path('rubius_index') }}" class="logo">
        <span class="logo-mini"><img src="{{ asset('assets/rubius/img/logo_small_collapsed.png') }}"/></span>
        <span class="logo-lg"><img src="{{ asset('assets/rubius/img/logo_small_h.png') }}" /></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">{{ 'rubiusAdmin.header.messages' | trans({'%messageCount%': messageCount}) }}</li>
                        {#<li>#}
                            {#<!-- inner menu: contains the actual data -->#}
                            {#<ul class="menu">#}
                                {#<li><!-- start message -->#}
                                    {#<a href="#">#}
                                        {#<div class="pull-left">#}
                                            {#<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}
                                        {#</div>#}
                                        {#<h4>#}
                                            {#Support Team#}
                                            {#<small><i class="fa fa-clock-o"></i> 5 mins</small>#}
                                        {#</h4>#}
                                        {#<p>Why not buy a new awesome theme?</p>#}
                                    {#</a>#}
                                {#</li><!-- end message -->#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<div class="pull-left">#}
                                            {#<img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">#}
                                        {#</div>#}
                                        {#<h4>#}
                                            {#AdminLTE Design Team#}
                                            {#<small><i class="fa fa-clock-o"></i> 2 hours</small>#}
                                        {#</h4>#}
                                        {#<p>Why not buy a new awesome theme?</p>#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<div class="pull-left">#}
                                            {#<img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">#}
                                        {#</div>#}
                                        {#<h4>#}
                                            {#Developers#}
                                            {#<small><i class="fa fa-clock-o"></i> Today</small>#}
                                        {#</h4>#}
                                        {#<p>Why not buy a new awesome theme?</p>#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<div class="pull-left">#}
                                            {#<img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">#}
                                        {#</div>#}
                                        {#<h4>#}
                                            {#Sales Department#}
                                            {#<small><i class="fa fa-clock-o"></i> Yesterday</small>#}
                                        {#</h4>#}
                                        {#<p>Why not buy a new awesome theme?</p>#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<div class="pull-left">#}
                                            {#<img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">#}
                                        {#</div>#}
                                        {#<h4>#}
                                            {#Reviewers#}
                                            {#<small><i class="fa fa-clock-o"></i> 2 days</small>#}
                                        {#</h4>#}
                                        {#<p>Why not buy a new awesome theme?</p>#}
                                    {#</a>#}
                                {#</li>#}
                            {#</ul>#}
                        {#</li>#}
                        <li class="footer"><a href="#">{{ 'rubiusAdmin.header.seeAllMessages'| trans }}</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">{{ notificationCount }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">{{ 'rubiusAdmin.header.notifications' |trans({'%notificationCount%': notificationCount}) }}</li>
                        {#<li>#}
                            {#<!-- inner menu: contains the actual data -->#}
                            {#<ul class="menu">#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-users text-aqua"></i> 5 new members joined today#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-users text-red"></i> 5 new members joined#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-shopping-cart text-green"></i> 25 sales made#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#">#}
                                        {#<i class="fa fa-user text-red"></i> You changed your username#}
                                    {#</a>#}
                                {#</li>#}
                            {#</ul>#}
                        {#</li>#}
                        <li class="footer"><a href="#">{{ 'rubiusAdmin.header.viewAll' |trans }}</a></li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ (app.user.avatar is defined)? asset(app.user.avatar) : 'http://www.gravatar.com/avatar/?d=identicon' }}"
                             class="user-image" alt="{{ app.user.username }}">
                        <span class="hidden-xs">
                            {{ (app.user.name is defined) ? app.user.name : app.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ (app.user.avatar is defined)? asset(app.user.avatar) : 'http://www.gravatar.com/avatar/?d=identicon' }}"
                                 class="img-circle" alt="{{ app.user.username }}">
                            <p>
                                {{ app.user.email }}
                                <small>{{ 'rubiusAdmin.header.memberSince' |trans }} {{ app.user.createdAt| date('Y-m-d') }}</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">-</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">-</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">-</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">-</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>

    </nav>
</header>