{% trans_default_domain 'rubiusAdmin' %}
{% extends 'RubiusAdminBundle:layout:main.html.twig' %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{ 'rubiusAdmin.cms.content.title' | trans }}</li>
    </ol>
{% endblock %}

{% block pageTitle %}
    {{ 'rubiusAdmin.cms.content.title' | trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {% if contentType is not defined %}
                            {{ 'rubiusAdmin.cms.content.create.title' | trans }}
                        {% else %}
                            {{ 'rubiusAdmin.general.Edit' |trans }} {{ contentType.title }}
                        {% endif %}
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    <div class="row margin-bottom">
                        <div class="col-lg-6">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.alias) }}
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-lg-3">
                            {{ form_label(form.publishedDate) }}
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                {{ form_widget(form.publishedDate) }}
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="col-lg-12">{{ form_label(form.active) }}</div>
                            <div class="col-lg-12">{{ form_widget(form.active) }}</div>
                        </div>
                        <div class="col-lg-6">
                            {{ form_label(form.forwardUrl) }}
                            {{ form_widget(form.forwardUrl) }}
                        </div>
                    </div>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_content" data-toggle="tab">{{ 'rubiusAdmin.cms.content.create.tabContent' | trans }}</a></li>
                            <li><a href="#tab_images" data-toggle="tab">{{ 'rubiusAdmin.cms.content.create.tabImages' | trans }}</a></li>
                            <li><a href="#tab_meta" data-toggle="tab">{{ 'rubiusAdmin.cms.content.create.tabMeta' | trans }}</a></li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_content">
                                <div class="row margin-bottom">
                                    <div class="col-lg-12">
                                        {{ form_label(form.contentType) }}
                                    </div>
                                    <div class="col-lg-12">
                                        {{ form_widget(form.contentType) }}
                                    </div>
                                </div>
                                <div class="row margin-bottom">
                                    <div class="col-lg-12">{{ form_label(form.intro) }}</div>
                                    <div class="col-lg-12">{{ form_widget(form.intro) }}</div>
                                </div>
                                <div class="row margin-bottom">
                                    <div class="col-lg-12">
                                        {{ form_label(form.body) }}
                                    </div>
                                    <div class="col-lg-12">
                                        {{ form_widget(form.body) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_images">
                                <div class="row">
                                    <div class="col-lg-6">{{ form_row(form.smallImageObject) }}</div>
                                    <div class="col-lg-6">
                                        {% if content is defined and content.smallImage is not empty %}
                                            <img src="{{ asset(content.smallImageUrl) }}" width="150px"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">{{ form_row(form.mediumImageObject) }}</div>
                                    <div class="col-lg-6">
                                        {% if content is defined and content.mediumImage is not empty %}
                                            <img src="{{ asset(content.mediumImageUrl) }}" width="150px"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">{{ form_row(form.bigImageObject) }}</div>
                                    <div class="col-lg-6">
                                        {% if content is defined and content.bigImage is not empty %}
                                            <img src="{{ asset(content.bigImageUrl) }}" width="150px"/>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab_meta">
                                {{ form_row(form.metaTags) }}
                                {{ form_row(form.metaDescription) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="submit" class="btn btn-success" value="{{ 'rubiusAdmin.general.submit' | trans }}"/>
                        </div>
                    </div>
                    {{ form_end(form)}}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-datepicker/bootstrap-datepicker.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".datepicker").datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                language: "{{ app.request.getLocale() }}",
                todayHighlight: true
            });
        });
        $(function () {
            CKEDITOR.replace('ckeditor' );
        });
    </script>
{% endblock %}